<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Editar</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
    <nav class="navbar navbar-dark bg-primary">
        <a class="navbar-brand" th:href="@{/sucursal/perfil/{idSucursal}(idSucursal=${idSucursal})}">
            <h2><img th:src="@{/assets/letter-r.svg}" width="40" height="40" class="d-inline-block align-top" alt="" >
            Rustico</h2>
        </a>
    </nav>
    <h1 style="padding: 1%" th:text="${header.toString()}"></h1>
    <div>
    <form th:object="${empleado}" th:action="@{/sucursal/perfil/{idSucursal}/empleado/actualizar/{idEmpleado}(idSucursal=${idSucursal},idEmpleado=${empleado.id})}" method="post">
         <div style="margin-left: 2%" class="form-group">
             <label for="nombre">Nombre</label>
             <input id="nombre" class="form-control" style="min-width: 200px;width: 20%" placeholder="Nombre" type="text" th:field="*{nombre}"/>
         </div>
        <span th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}" class="badge badge-danger"></span>
        <div style="margin-left: 2%" class="form-group">
            <label for="edad">Edad</label>
            <input id="edad" class="form-control" style="min-width: 200px;width: 20%" placeholder="Edad" type="number" th:field="*{edad}"/>
        </div>
        <span th:if="${#fields.hasErrors('edad')}" th:errors="*{edad}" class="badge badge-danger"></span>
        <div style="margin-left: 2%" class="form-group">
            <label for="genero">Genero</label>
            <input id="genero" class="form-control" style="min-width: 200px;width: 20%" placeholder="Genero" type="text" th:field="*{genero}"/>
        </div>
        <span th:if="${#fields.hasErrors('genero')}" th:errors="*{genero}" class="badge badge-danger"></span>
        <div style="margin-left: 2%" class="form-check">
            <label for="estado" class="form-check-label">Activo</label>
            <input id="estado" class="form-check-input" style="min-width: 200px;width: 20%" type="checkbox" th:field="*{estado}"/>
        </div>
        <span th:if="${#fields.hasErrors('estado')}" th:errors="*{estado}" class="badge badge-danger"></span>
        <input style="margin-left: 6.5%; padding: 0.5%" type="submit" value="Guardar" class="btn btn-primary">
    </form>
</div>
</body>
</html>