<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>Inicio</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>
<body>
    <nav class="navbar navbar-dark bg-primary">
        <a class="navbar-brand" th:href="@{/sucursal/}">
            <h2><img th:src="@{/assets/letter-r.svg}" width="40" height="40" class="d-inline-block align-top" alt="" >
            Rustico</h2>
        </a>
    </nav>
    <div th:switch="${#lists.isEmpty(sucursales)}">
        <h2 style="padding: 1%" th:case="true">No hay sucursales registradas</h2>
        <div th:case="*">
           <h1 style="padding: 1%" >Sucursales</h1>

            <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col">Nombre</th>
                    <th scope="col">Ubicación</th>
                    <th scope="col">Abre</th>
                    <th scope="col">Cierre</th>
                    <th scope="col">Número de mesas</th>
                    <th scope="col">Nombre del gerente</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col"><a th:href="@{/sucursal/crear}" data-toggle="tooltip" data-placement="bottom" title="Añadir nuevo"><i class="material-icons">add_circle</i></a></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="sc : ${sucursales}">
                    <td th:text="${sc.nombre}"></td>
                    <td th:text="${sc.ubicacion}"></td>
                    <td th:text="${sc.getApertura()}"></td>
                    <td th:text="${sc.getCierre()}"></td>
                    <td th:text="${sc.mesas}"></td>
                    <td th:text="${sc.nomGerente}"></td>
                    <td><a th:href="@{/sucursal/perfil/{id}(id=${sc.id})}" data-toggle="tooltip" data-placement="bottom" title="Expandir perfil"><i class="material-icons">unfold_more</i></a></td>
                    <td><a th:href="@{/sucursal/editar/{id}(id=${sc.id})}" data-toggle="tooltip" data-placement="bottom" title="Editar"><i class="material-icons">edit</i></a></td>
                    <td><a th:href="@{/sucursal/borrar/{id}(id=${sc.id})}" data-toggle="tooltip" data-placement="bottom" title="Eliminar"><i class="material-icons">delete</i></a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>