<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Inicio</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
    <div th:switch="${#lists.isEmpty(sucursales)}">
        <h2 th:case="true">No hay sucursales registradas</h2>
        <div th:case="*">
           <h1>Sucursales</h1>
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Nombre</th>
                    <th scope="col">Ubicación</th>
                    <th scope="col">Abre</th>
                    <th scope="col">Cierre</th>
                    <th scope="col">Número de mesas</th>
                    <th scope="col">Nombre del gerente</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="sc : ${sucursales}">
                    <td th:text="${sc.nombre}"></td>
                    <td th:text="${sc.ubicacion}"></td>
                    <td th:text="${sc.getApertura()}"></td>
                    <td th:text="${sc.getCierre()}"></td>
                    <td th:text="${sc.getNMesas()}"></td>
                    <td th:text="${sc.nomGerente}"></td>
                    <td><a th:href="@{/sucursal/perfil/{id}(id=${sc.id})}"><i class="material-icons">unfold_more</i></a></td>
                    <td><i class="material-icons">edit</i></td>
                    <td><i class="material-icons">delete</i></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>